{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block main_content %}
    <h1>Liste des Produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Commentaires</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.marque }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.quantite }}</td>
                <td>{{ produit.commentaires }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun produit enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Nouveau Produit</a>
{% endblock %}
